body {
  min-height: 1000px;
  padding-top: 70px;
  padding-bottom: 40px;
}
.featurette-divider {
  margin: 40px 200px;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}